.color-box {
  width: 300px;
  height: 100px;
  background-color: rgb(0, 255, 81) (0, 128, 47); /* Ändere das zu rot für Demo */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
