.color-box {
  width: 300px;
  height: 100px;
  background-color: rgb(128, 0, 90); /* Ändere das zu rot für Demo */
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
